.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* src/App.css */
.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.marker0 {
  background-color: green;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}

.marker1 {
  background-color: grey;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}

.marker2 {
  background-color: red;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}

.marker3 {
  background-color: blue;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}

.marker4 {
  background-color: blueviolet;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}

.testboss {
  max-width: 5px;
  max-height: 5px;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.acceptButton {
  background-color: rgba(32, 249, 3, 0.9);
  padding: 6px 12px;
  font-family: monospace;
  z-index: 10;
  width: 3.5cm;
  height: 2cm;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.option {
  color: red;
}

.groupHeading {
  color: green;
}

.chips {
  background: purple;
}